*,
::before,
::after {
  box-sizing: border-box;
}

body {
  font-family: Vollkorn, sans-serif;
  font-size: 1rem;
  color: rgb(31, 33, 46);
  background-image: linear-gradient(
    10deg,
    rgba(28, 32, 34, 0.647),
    rgb(3, 20, 28)
  );
  background-repeat: no-repeat;
  margin: 0%;
}

h1,
h2 {
  font-family: Amatic SC, sans-serif;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-weight: bold;
  font-size: 3.5rem;
  color: #110d1e;
  text-align: center;
  padding-top: 3%;
  padding-bottom: 3%;
  text-shadow: 0.25rem 0.25rem 0.7rem rgba(43, 20, 87, 0.382);
}

h3 {
  font-style: italic;
}

nav {
  display: flex;
  justify-content: space-between;
  top: 0%;
}

a {
  text-decoration: none;
  color: black;
}

.nav a:hover {
  background-color: #478978ff;
}

ul {
  list-style-type: '❖';
}

li {
  padding-left: 1vw;
}

table {
  width: 75%;
}

tr,
td {
  padding: 5%;
  text-align: justify;
}

header {
  position: sticky;
  top: 1px;
}

/*........třídy................*/
/*-- pozadí ---*/
.bg-blue-bell {
  background-color: #8b95c9ff;
}

.bg-viridian {
  background-color: #478978ff;
}

.bg-uranian-blue {
  background-color: rgba(229, 233, 255, 0.864);
}

.bg-columbia-blue {
  background-color: rgba(233, 243, 251, 0.864);
}

.circle-pic {
  border-radius: 50%;
  border: 1px solid #8b95c9ff;
  padding: 0.5%;
  width: 35%;
  height: 35%;
  align-self: center;
}

/*----sekce O mně ---------*/

#o-mne .row {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

#o-mne .heading,
#o-mne .row,
#o-mne h2 {
  justify-content: center;
  text-align: justify;
  margin: 0;
  width: 80%;
  background-color: #110d1e4e;
  color: aliceblue;
}

#o-mne h2 {
  font-size: 2rem;
  margin: 0;
  padding: 1rem;
}

#o-mne h3 {
  padding-top: 0;
}

#o-mne a {
  color: #a6beeb;
}

#o-mne a:hover {
  color: #c5a8e1;
  border-radius: 20%;
  text-shadow: 0.07rem 0.07rem 0.7rem rgba(70, 82, 210, 0.888);
}

.highlight {
  color: rgb(179, 224, 245);
  text-shadow: 0.07rem 0.07rem 0.7rem rgb(57, 67, 180);
}
/*---- layout -------*/
.container-S {
  display: block;
  margin: 0%;
  padding-left: 5%;
  padding-right: 5%;
}

.container-L {
  display: block;
  width: 100%;
  margin: 0%;
  padding: 0%;
  text-align: center;
}

.item {
  text-align: justify;
  margin: 0;
  padding: 5%;
  border-bottom: 1px solid #8b95c9ff;
  border-top: 1px solid #8b95c9ff;
}

.item a {
  font-style: italic;
  color: rgb(74, 18, 90);
  word-wrap: normal;
}

.item a:hover {
  opacity: 50%;
  color: rgb(128, 34, 154);
  background-color: none;
}

.list-no-dots {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.kontakt {
  display: flex;
  justify-content: space-around;
  color: white;
}

.nav-closed {
  display: none;
}

.nav {
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: space-between;
  width: 35%;
  margin: auto;
  color: black;
  background-color: #8b95c9ff;
  box-shadow: 0.25rem 0.25rem 0.25rem #1c13357f;
}

.nav a {
  background-color: #32245945;
}

.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

#nav li {
  margin: 5px;
  font-weight: bold;
}

.nav-btn {
  width: 3rem;
  height: 3rem;
  padding: 0;
  border: none;

  background-color: transparent;
  background-image: url('./img/menu.png');
  background-size: contain;

  cursor: pointer;
}

.nav-btn:focus {
  outline: none;
}

/*---- ikonky vedle nadpisů------*/
.icon-btn--work,
.icon-btn--certificate,
.icon-btn--education,
.icon-btn--languages,
.lang {
  width: 5rem;
  height: 5rem;
  padding: 0;
  border: none;

  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
}

.icon-btn--frontend {
  background-image: url(/img/frontend.svg);
  filter: invert(100%);
}

.icon-btn--frontend,
.phone {
  width: 2rem;
  height: 2rem;
  padding: 0;
  border: none;

  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  filter: invert(1);
}

.phone {
  background-image: url(./img/contact.png);
}
.icon-btn--work {
  background-image: url('./img/work.png');
}

.icon-btn--certificate {
  background-image: url('./img/certificate.png');
}

.icon-btn--education {
  background-image: url('./img/education.png');
}

.icon-btn--languages {
  background-image: url('./img/language.png');
}

#contact-heading {
  display: none;
}

/*-------- jazyky ---------------------*/
.language {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
}

.lang-cz,
.lang-en,
.lang-cn,
.lang-de,
.lang-fr {
  width: 5rem;
  height: 5rem;
  padding: 0;

  background-color: transparent;
  background-size: contain;
  border-radius: 50%;
  border: 2px solid rgba(0, 0, 0, 0.585);
}

.lang-cz {
  background-image: url(./img/czech.png);
}

.lang-en {
  background-image: url(./img/english.png);
}

.lang-cn {
  background-image: url(./img/chinese.png);
}

.lang-de {
  background-image: url(./img/german.png);
}

.lang-fr {
  background-image: url(./img/french.png);
}

.car {
  width: 5rem;
  height: 5rem;
  padding: 0;
  border: none;

  background-color: transparent;
  background-size: contain;
  background-image: url(./img/car.png);
}

.english,
.czech {
  width: 2rem;
  height: 2rem;
  padding: 0;
  margin: 1rem;
  border: none;

  background-color: transparent;
  background-size: contain;
  border-radius: 50%;

  align-self: flex-end;
}

.english {
  background-image: url(./img/english.png);
}

.czech {
  background-image: url(./img/czech.png);
}

.english:hover,
.czech:hover {
  cursor: pointer;
  box-shadow: 0 5px 15px rgba(217, 165, 255, 0.825);
}

.center {
  text-align: center;
}

.kontakt-info {
  border: 1px dotted #8b95c9ff;
  padding: 5%;
  height: 25%;
  max-width: 50%;
  word-wrap: break-word;
}

#mail {
  word-wrap: break-word;
}
.other {
  padding: 1rem;
}
/*--------------- breakpoints --------------------------*/
@media (min-width: 768px) {
  /*------skrytí hamburger menu -------*/
  #nav-btn {
    display: none;
  }

  #contact-heading {
    display: block;
  }

  .nav-closed {
    display: flex;
    flex-direction: row;
    position: sticky;
    justify-content: space-between;
    margin: auto;
    width: 100%;
    color: black;
    background-color: rgba(139, 149, 201, 0.337);
  }

  .nav-closed a:hover {
    background-color: #478978ff;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
  }

  .item {
    width: 50%;
    border-bottom: 0.5px dashed #8b95c9ff;
    border-left: 1px solid rgba(139, 149, 201, 0.64);
    border-right: 1px solid rgba(139, 149, 201, 0.56);
    border-top: 0.5px dashed #8b95c9ff;
  }
}

@media (min-width: 1250px) {
  .item {
    width: 33%;
    margin-bottom: 2rem;
  }
}
