*,
::before,
::after {
  box-sizing: border-box;
}

body {
  font-family: Vollkorn, sans-serif;
  color: rgb(31, 33, 46);
  background-image: linear-gradient(
    10deg,
    rgba(28, 32, 34, 0.647),
    rgb(3, 20, 28)
  );
  background-repeat: no-repeat;
  margin: 0%;
}

h2 {
  font-weight: bold;
  font-size: 3vw;
  color: rgb(55, 39, 146);
  text-align: center;
  padding-top: 3%;
  padding-bottom: 3%;
}

h3 {
  font-style: italic;
}

nav {
  position: sticky;
  top: 0%;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  background-color: #478978ff;
}

ul {
  list-style-type: '❖';
}

li {
  padding-left: 1vw;
}

table {
  width: 75%;
}

tr,
td {
  padding: 5%;
  text-align: justify;
}

/*........třídy................*/
/*-- pozadí ---*/
.bg-blue-bell {
  background-color: #8b95c9ff;
}

.bg-viridian {
  background-color: #478978ff;
}

.bg-uranian-blue {
  background-color: rgba(211, 240, 255, 0.819);
}

.bg-columbia-blue {
  background-color: rgba(214, 237, 255, 0.814);
}

.circle-pic {
  border-radius: 50%;
  border: 1px solid #8b95c9ff;
  padding: 0.5%;
  width: 35%;
  height: 35%;
  align-self: center;
}
/*---- layout -------*/
.container-S {
  display: block;
  margin: 0%;
  padding-left: 5%;
  padding-right: 5%;
}

.container-L {
  display: block;
  width: 100%;
  margin: 0%;
  padding: 0%;
  text-align: center;
}

.item {
  text-align: justify;
  margin: 0;
  padding: 5%;
  border-bottom: 1px solid #8b95c9ff;
  border-top: 1px solid #8b95c9ff;
}

.item a {
  font-style: italic;
  color: rgb(74, 18, 90);
  word-wrap: normal;
}

.item a:hover {
  opacity: 50%;
  background-color: #d6edffff;
}

.list-no-dots {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.kontakt {
  display: flex;
  justify-content: space-around;
  color: white;
}

.nav-closed {
  display: none;
}

.nav {
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: space-between;
  width: 35%;
  margin: auto;
  color: black;
  background-color: #8b95c9ff;
}

#nav li {
  margin: 5px;
  font-weight: bold;
}

.nav-btn {
  width: 3rem;
  height: 3rem;
  padding: 0;
  border: none;

  background-color: transparent;
  background-image: url('./img/menu.png');
  background-size: contain;

  cursor: pointer;
}

.nav-btn:focus {
  outline: none;
}

.center {
  text-align: center;
}

.kontakt-info {
  border: 1px dotted #8b95c9ff;
  padding: 5%;
  height: 25%;
  max-width: 50%;
}

/*--------------- breakpoints --------------------------*/
@media (min-width: 768px) {
  /*------skrytí hamburger menu -------*/
  #nav-btn {
    display: none;
  }

  .nav-closed {
    display: flex;
    flex-direction: row;
    position: sticky;
    justify-content: space-between;
    margin: auto;
    width: 100%;
    color: black;
    background-color: #8b95c9ff;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
  }

  .item {
    width: 50%;
    border-bottom: 0.5px dashed #8b95c9ff;
    border-left: 1px solid rgba(139, 149, 201, 0.64);
    border-right: 1px solid rgba(139, 149, 201, 0.56);
    border-top: 0.5px dashed #8b95c9ff;
  }
}

@media (min-width: 1250px) {
  .item {
    width: 33%;
    margin-bottom: 2rem;
  }
}
